body{
    text-align: center;
    background-color: #212121;
}
#banner{
    color:white;
}
.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#clock{
    background-color: rgb(207, 77, 22);
    margin-left:350px;
    margin-right:350px;
    border:1px solid black ;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}